extends ./layout.jade

block title
    title= ttl

block content
    h1 Autic device:  #{device}
    pre= JSON.stringify(result)
    <div class="ct-chart ct-perfect-fourth"></div>
    //- each val, index in arr
        //- <div class="ct-chart#{index} ct-perfect-fourth"></div>


    script.
        var chartData = !{JSON.stringify(chartData)}
        console.log('chartData', chartData)
          
        //- console.log("tags", getUniqTags())
        //- var chartDATA = fillTags()     
        //- console.log("res", chartDATA)   
        
        var options = {
            //- width: '300px',
            //- height: '200px'
              lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 0.2
                }),
                showPoint: true,
        };
        new Chartist.Line('.ct-chart', chartData[3], options) // here it is the 'sum' tag




//- CHARTIST DOCS : https://gionkunz.github.io/chartist-js/api-documentation.html
//- EXAMPLES : https://gionkunz.github.io/chartist-js/examples.html