extends ./layout.jade

block title
    title= ttl

block content
    h1 Autic device:  #{device}
    pre= JSON.stringify(result)
    each val, index in chartData
        h3= val.name
        <div class="ct-chart#{index} ct-perfect-fourth"></div>
        hr


    script.
        var chartData = !{JSON.stringify(chartData)}
        console.log('chartData', chartData)
        
        var options = {
            //- width: '300px',
            //- height: '200px'
            lineSmooth: Chartist.Interpolation.cardinal({ //.simple
                tension: 0.2,
                divisor: 2
            }),
            showPoint: true,
            showArea: true
        };
        chartData.forEach((row, index)=>{
            new Chartist.Line('.ct-chart'+index, row, options) // here it is the 'sum' tag
        })



//- CHARTIST DOCS : https://gionkunz.github.io/chartist-js/api-documentation.html
//- EXAMPLES : https://gionkunz.github.io/chartist-js/examples.html