extends ./layout.jade

block title
    title= ttl

block styles
    style(type='text/css').
        @import url('https://fonts.googleapis.com/css?family=Dhurjati');
        html{font-family: monospace}
        h1{color: orange; text-align: center;}
        h1 span{color: ;}
        h1 small.connected{color: green; margin-left: 20px; font-size: 14pt;}
        .blk{width: 30%; height: 300px;border: 1px solid #ccc; float: left; margin: 10px}
        .blk .tagName{text-align: center;}
        .blk svg{border: 0px solid red; max-height: 240px}
        .ct-area{}
        .ct-line{stroke: #3d3d3d !important}
        .ct-point{stroke: #000 !important}

block content
    - var x = 6
    h1 Autic device:  
        span.device #{device}
        small.connected connected
    pre= JSON.stringify(result)
    //- each val, index in chartData
    - for( i = 0; i < x; i++){
        div.blk
            //- h3.tagName= val.name
            <div class="ct-chart#{i} ct-perfect-fourth"></div>
        //- hr
    - }


    script.
        var chartData = !{JSON.stringify(chartData)}
        console.log('chartData', chartData)
        
        var options = {
            //- width: '33%',
            //- height: '300px',
            lineSmooth: Chartist.Interpolation.cardinal({ //.simple
                tension: 00,
                divisor: 2
            }),
            showPoint: false,
            showArea: false
        };
        chartData.forEach((row, index)=>{
            new Chartist.Line('.ct-chart'+index, row, options) // here it is the 'sum' tag
        })



//- CHARTIST DOCS : https://gionkunz.github.io/chartist-js/api-documentation.html
//- EXAMPLES : https://gionkunz.github.io/chartist-js/examples.html