extends ./layout.jade

block title
    title= ttl

block styles
    style(type='text/css').
        @import url('https://fonts.googleapis.com/css?family=Dhurjati');
        html{font-family: monospace !important;}
        h1,h2,h3,h4,h5,h6{font-family: monospace !important; font-weight: bold; padding: 10px;}
        nav{background-color: #3f454b;}
        h1.header{color: #efa92c; text-align: center; }
        h1.header span{color: ;}
        h1.header small.connected{color: #00ab00; margin-left: 20px; font-size: 14pt; font-weight: bold;}
        h1.header small.disconnected{color: #dc3545; margin-left: 20px; font-size: 14pt; font-weight: bold;}
        table.tags{margin-top: 75px; border: 1px solid #ccc;}
        table.tags td, table.tags th{text-align: center;}
        .charts{}
        .blk{height: 280px; border: 1px solid #ccc; float: left; border-radius: 5px; padding: 0;}
        .blk .tagName{text-align: centerX; border-bottom: 1px solid #ccc; padding-left: 20px;}
        .blk svg{border: 0px solid red; max-height: 240px}
        .ct-area{}
        .ct-line{stroke: #3f454b !important;}
        .ct-point{stroke: #000 !important}
        footer nav{height: 100px;}


block content
    nav.navbar.navbar-dark.bg-lightx.fixed-top
        h1.header.mx-auto Autic device:  
            span.device #{device}
            - if(allData[0].connectionState == "Connected")
                small.connected #{allData[0].connectionState}
            - else 
                small.disconnected #{allData[0].connectionState}
    //- small= JSON.stringify(chartData)
    //- pre= JSON.stringify(allData)
    - var isTH = false // <th>
    - var exceptKeys = ['_id', 'deviceId']
    table.tags.table.table-striped.table-light.table-hover  
        each x, i in allData
            - var ATTRIBUTES = Object.keys(x)
            - if(!isTH){
                each k in ATTRIBUTES
                    - if(!exceptKeys.includes(k)) 
                        th.table-dark= k
                - isTH = true
            - }
                tr
                    each h in ATTRIBUTES
                        - if(!exceptKeys.includes(h))
                            - if(h == "lastUpdated"){
                                td= new Date(x[h]).toISOString().replace('T', ' ').slice(0, 19)
                            - } else {
                                td= x[h]
                            - }
    div.charts.row.justify-content-center
        each val, i in chartData
            - if(typeof val.series[0][0] == 'number'){
                div.blk.col-sm-12.col-md-5.col-lg-3.mb-3.mr-3.text-dark
                    h3.tagName= val.name
                    <div class="ct-chart#{i} ct-perfect-fourth"></div>
            - }
    footer.pt-5.text-white
        nav.navbar.navbar-dark.justify-content-center.text-center
            h2.col-12(style="color: #efa92c") AUTIC &copy; 2019
            p Muhannad Senan - msn-23@live.com


    script.
        var chartData = !{JSON.stringify(chartData)}
        var allData = !{JSON.stringify(allData)}
        console.log('allData', allData)
        console.log('chartData', chartData)
        
        var options = {
            //- width: '33%',
            //- height: '300px',
            lineSmooth: Chartist.Interpolation.cardinal({ //.simple
                tension: 00,
                divisor: 2
            }),
            showPoint: false,
            showArea: false
        };
        chartData.forEach((row, index)=>{
            new Chartist.Line('.ct-chart'+index, row, options) // here it is the 'sum' tag
        })



//- CHARTIST DOCS : https://gionkunz.github.io/chartist-js/api-documentation.html
//- EXAMPLES : https://gionkunz.github.io/chartist-js/examples.html